<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Pokemon Go Battle Log</title>
  <link rel="shortcut icon" href="/assets/img/pokeball-icon-svg.svg" />
  <link rel="stylesheet" type="text/css" href="/assets/appStyles.css" />
</head>

<body>
  <nav class="vertical-nav">
    <a href="/login" id="logoLink">
      <img id="logo" src="/assets/img/league-logo.png" alt="league logo" />
    </a>
    <div class="navlink-container">
      <a href="/app" class="navlink">Battle Log</a>
      <a href="/stats" class="navlink">Stats</a>
      <a href="/logout" class="navlink">Log out</a>
    </div>
  </nav>

  <div class="app-container">
    <section id="app">
      <!-- App content will be dynamically rendered here -->
    </section>
  </div>

  <div id="errorPopup" class="hidden">
    <img id="errorIcon" src="/assets/img/exclamation.png" alt="Error Icon" />
    <span id="errorText"></span>
  </div>

  <script src="/assets/appBundle.js"></script>
</body>

</html>