<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Pokemon Go Battle Log</title>
  <link rel="shortcut icon" href="/assets/img/pokeball-icon-svg.svg" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/league-logo.png" alt="league logo" /></a>
    <div class="navlink">
      <a href="/app">Battle Log</a>
      <a href="/stats">Stats</a>
      <a href="/logout">Log out</a>
    </div>
  </nav>


  <section id="app">

  </section>

  <div id="errorPopup" class="hidden">
    <img id="errorIcon" src="/assets/img/exclamation.png" alt="Error Icon" />
    <span id="errorText"></span>
  </div>

  <script src="/assets/appBundle.js"></script>
</body>

</html>