<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Pokemon Go Stats</title>
  <link rel="shortcut icon" href="/assets/img/pokeball-icon-svg.svg"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/app">Battle Log</a>
    <a href="/stats">Stats</a>
    <a href="/logout">Log out</a>
  </nav>

  <div id="stats"></div>

  <script src="/assets/statsBundle.js"></script>
</body>
</html>